# Paths are relative to this .eslintignore location (ie /m4ops/)
# Use forward slashes (/)

**/unused/**
**/*OLD*/**


**/node_modules/**
**/dist/**

.aws/*
client/OldReact/*
client/vuelayers-demo/*


